.footer_section{
    background-color: #232F3E;
    padding: 30px 0px 30px 0px;
    h6{
        color: #fff;
    }
}
.footer_copyright{
    background-color: aquamarine;
    text-align: center;
    padding: 15px 0px 15px 0px;
}
.list {
    li{
    color: #fff;
    list-style: none;
}}