.products{
    margin-top: 30px;
    .product_title{
        font-size: 20px;
    }
    .product_img{
        img{
            width: 100px;
            height: 100px;
        }
    }
}

